.shop-tag {
    height: 60px;
    border-radius: 60px;
    overflow: hidden;
    display: inline-block;
    color: var(--black-color);
    cursor: pointer;
}
.shop-tag__wrapper {
    padding: 0 16px 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color-2);
    height: 100%;
    user-select: none;
}
.shop-tag__avatar {
    height: 70%;
    aspect-ratio: 1;
    border-radius: 70%;
    margin-right: 12px;
    aspect-ratio: 1;
}