.product-grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.product-grid__grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    column-gap: 32px;
    row-gap: 24px;
    margin: 20px 0;
}
.product-grid__empty {
    font-size: 26px;
    text-align: center;
}
.product-grid__empty-message {
    margin-bottom: 8px;
}
