.user-profile-menu__item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: var(--black-color);
    margin: 2px 20px;
}
.user-profile-menu__name {
    margin-left: 8px;  
}
.user-profile-menu__item.active {
    color: var(--blue-primary-color);
}